---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Home | Personal Site" description="Welcome to my personal site">
  <Fragment slot="nav">
    <Nav />
  </Fragment>
  <!-- Main Hero (Full Height) -->
  <section class="flex flex-col justify-end h-[calc(100vh-176px)] pb-10 gap-1">
    <h1 class="text-7xl uppercase leading-tight text-gray-800">
      Hey there, I'm David.<br />
      A software engineer,<br />
      that loves good work.
    </h1>
  </section>

  <!-- Work Showcase -->
  <section class="space-y-6 bg-gray-200">
    <h2 class="text-3xl font-semibold">My Work</h2>
    <p class="text-gray-600">Some of my recent projects.</p>
  </section>

  <!-- Contact section -->
  <section class="space-y-6 bg-gray-300">
    <h2 class="text-3xl font-semibold">Contact Me</h2>
    <p class="text-gray-600">Get in touch with me.</p>
  </section>
  <Fragment slot="footer">
    <Footer />
  </Fragment>
</BaseLayout>
