---
interface Props {
  title?: string;
  description?: string;
}
const { title = 'Personal Site', description = 'Just getting started' } = Astro.props as Props;
import "../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen px-5 flex flex-col antialiased bg-[url(/img/background.png)]">
    <header>
      <div class="mx-auto h-24 px-4 flex items-center">
        <slot name="nav" />
      </div>
    </header>
    <main class="flex-1">
      <div class="mx-auto py-10">
        <slot />
      </div>
    </main>
    <!-- <footer class="border-4 mb-5">
      <div class="mx-auto py-6 text-sm text-gray-500">
        <slot name="footer" />
      </div>
    </footer> -->
  </body>
  
</html>

